*{
	margin: 0;
	padding: 0;
}
#sidebar{
	position: fixed;
	width: 18%;
	height: 100%;
	background: #ff516b;
	 background: -moz-linear-gradient(-45deg, #ff516b 0%, #826cfd 100%);
    /* FF3.6-15 */
     background: -webkit-linear-gradient(-45deg, #ff516b 0%,#826cfd 100%);
    /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(135deg, #ff516b 0%,#826cfd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff516b', endColorstr='#826cfd',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    margin-top: 75px; 
      }
#sidebar ul li{
	color: white;
	text-align: center;
	padding: 15px 10px;
	list-style: none;
	border-bottom: 2px solid rgba(200, 200, 200, .3);
}
#sidebar li a:hover {
   color: black;
}

