{% extends "layout.html" %} {% block content %}

<!-- row -->
<div class="row" id="content">
    <!-- single course -->
    {% for card in cards %}
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="course">
                <a href="#" class="course-img">
                    <img src="{{ card['img']}}">
                </a>
                <a class="course-title" href="#">{{ card['title']}}</a>
            </div>
        </div>
    {% endfor %}
    <!-- /single course -->
</div>

{% endblock %}